In [2]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv(r"C:\Users\mishr\Downloads\Data-Cleaning-Practical-Examples-master\Data-Cleaning-Practical-Examples-master\unclean_data.csv",encoding='cp1252')
df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [49]:
df['movie_title']=df['movie_title'].str.replace('?','')
df['movie_title']=df['movie_title'].astype('string')
df[['movie_title'][:-1]]

0                                         Avatarÿ
1       Pirates of the Caribbean: At World's Endÿ
2                                        Spectreÿ
3                          The Dark Knight Risesÿ
4                                    John Carterÿ
5                                   Spider-Man 3ÿ
6                                        Tangledÿ
7                        Avengers: Age of Ultronÿ
8                        Avengers: Age of Ultronÿ
9         Harry Potter and the Half-Blood Princeÿ
10            Batman v Superman: Dawn of Justiceÿ
11                              Superman Returnsÿ
12                             Quantum of Solaceÿ
13    Pirates of the Caribbean: Dead Man's Chestÿ
Name: movie_title, dtype: string

In [29]:
df['num_critic_for_reviews']

0     723
1     302
2     602
3     813
4     462
5     392
6     324
7     635
8     635
9     375
10    673
11    434
12    403
13    313
Name: num_critic_for_reviews, dtype: int64

In [30]:
df['duration']

0     178.0
1       NaN
2     148.0
3       NaN
4     132.0
5     156.0
6       NaN
7     141.0
8     141.0
9     153.0
10    183.0
11    169.0
12    106.0
13    151.0
Name: duration, dtype: float64

In [37]:
df.fillna(method='ffill',inplace=True)
df['duration']=df['duration'].astype("int")
df['duration']

0     178
1     178
2     148
3     148
4     132
5     156
6     156
7     141
8     141
9     153
10    183
11    169
12    106
13    151
Name: duration, dtype: int32

In [47]:
df['DIRECTOR_facebook_likes']=df['DIRECTOR_facebook_likes'].replace('"475"',475)
df['DIRECTOR_facebook_likes']=df['DIRECTOR_facebook_likes'].astype('int')
df['DIRECTOR_facebook_likes']

0        10
1       563
2        20
3     22000
4       475
5        23
6        15
7        10
8        10
9       282
10      282
11      282
12      395
13      563
Name: DIRECTOR_facebook_likes, dtype: int32

In [50]:
df['actor_3_facebook_likes']

0       855
1      1000
2       161
3     23000
4       530
5      4000
6       284
7     19000
8     19000
9     10000
10     2000
11      903
12      393
13     1000
Name: actor_3_facebook_likes, dtype: int64

In [53]:
df['ACTOR_1_facebook_likes']

0      1000
1     40000
2     11000
3     27000
4       640
5     24000
6       799
7     26000
8     26000
9     25000
10    15000
11    18000
12      451
13    40000
Name: ACTOR_1_facebook_likes, dtype: int64

In [54]:
df['gross']

0     760505847
1     309404152
2     200074175
3     448130642
4      73058679
5     336530303
6     200807262
7     458991599
8     458991599
9     301956980
10    330249062
11    200069408
12    168368427
13    423032628
Name: gross, dtype: int64

In [58]:
df['num_voted_users']
df['num_voted_users']=df['num_voted_users'].astype(int)
df['num_voted_users']

0      886204
1      471220
2      275868
3     1144337
4      212204
5      383056
6      294810
7      462669
8      462669
9      321795
10     321795
11     240396
12     330784
13     522040
Name: num_voted_users, dtype: int32

In [61]:
df['Cast_Total_facebook_likes']
df['Cast_Total_facebook_likes']=df['Cast_Total_facebook_likes'].astype(int)
df['Cast_Total_facebook_likes']

0       4834
1      48350
2      11700
3     106759
4       1873
5      46055
6      46055
7      92000
8      92000
9      58753
10     24450
11     24450
12      2023
13     48486
Name: Cast_Total_facebook_likes, dtype: int32

In [69]:
df['facenumber_in_poster']
df['facenumber_in_poster']=df['facenumber_in_poster'].fillna(method='bfill')
df['facenumber_in_poster']=df['facenumber_in_poster'].astype(int)
df['facenumber_in_poster']

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     4
8     4
9     3
10    3
11    2
12    1
13    2
Name: facenumber_in_poster, dtype: int32

In [71]:
df['num_user_for_reviews']

0     3054
1     1238
2      994
3     2701
4      738
5     1902
6      387
7     1117
8     1117
9      973
10    3018
11    2367
12    1243
13    1832
Name: num_user_for_reviews, dtype: int64

In [72]:
df['budget']

0     237000000
1     300000000
2     245000000
3     250000000
4     263700000
5     258000000
6     260000000
7     250000000
8     250000000
9     250000000
10    250000000
11    209000000
12    200000000
13    225000000
Name: budget, dtype: int64

In [81]:
df['title_year']

0     2009
1     2007
2     2015
3     2012
4     2012
5     2007
6     2010
7     2015
8     2015
9     2009
10    2016
11    2006
12    2008
13    2006
Name: title_year, dtype: int64

In [85]:
df['ACTOR_2_facebook_likes']
df['ACTOR_2_facebook_likes']=df['ACTOR_2_facebook_likes'].astype(int)
df['ACTOR_2_facebook_likes']

0       936
1      5000
2       393
3     23000
4       632
5     11000
6       553
7     21000
8     21000
9     11000
10    11000
11    10000
12      412
13     5000
Name: ACTOR_2_facebook_likes, dtype: int32

In [86]:
df['imdb_score']

0     7.9
1     7.1
2     6.8
3     8.5
4     6.6
5     6.2
6     7.8
7     7.5
8     7.5
9     7.5
10    6.9
11    6.1
12    6.7
13    7.3
Name: imdb_score, dtype: float64

In [97]:
df.columns

Index(['movie_title', 'num_critic_for_reviews', 'duration',
       'DIRECTOR_facebook_likes', 'actor_3_facebook_likes',
       'ACTOR_1_facebook_likes', 'gross', 'num_voted_users',
       'Cast_Total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'ACTOR_2_facebook_likes', 'imdb_score'],
      dtype='object')

In [98]:
df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score
0,Avatarÿ,723,178,10,855,1000,760505847,886204,4834,1,3054,237000000,2009,936,7.9
1,Pirates of the Caribbean: At World's Endÿ,302,178,563,1000,40000,309404152,471220,48350,1,1238,300000000,2007,5000,7.1
2,Spectreÿ,602,148,20,161,11000,200074175,275868,11700,1,994,245000000,2015,393,6.8
3,The Dark Knight Risesÿ,813,148,22000,23000,27000,448130642,1144337,106759,1,2701,250000000,2012,23000,8.5
4,John Carterÿ,462,132,475,530,640,73058679,212204,1873,1,738,263700000,2012,632,6.6
5,Spider-Man 3ÿ,392,156,23,4000,24000,336530303,383056,46055,1,1902,258000000,2007,11000,6.2
6,Tangledÿ,324,156,15,284,799,200807262,294810,46055,1,387,260000000,2010,553,7.8
7,Avengers: Age of Ultronÿ,635,141,10,19000,26000,458991599,462669,92000,4,1117,250000000,2015,21000,7.5
8,Avengers: Age of Ultronÿ,635,141,10,19000,26000,458991599,462669,92000,4,1117,250000000,2015,21000,7.5
9,Harry Potter and the Half-Blood Princeÿ,375,153,282,10000,25000,301956980,321795,58753,3,973,250000000,2009,11000,7.5
10,Batman v Superman: Dawn of Justiceÿ,673,183,282,2000,15000,330249062,321795,24450,3,3018,250000000,2016,11000,6.9
11,Superman Returnsÿ,434,169,282,903,18000,200069408,240396,24450,2,2367,209000000,2006,10000,6.1
12,Quantum of Solaceÿ,403,106,395,393,451,168368427,330784,2023,1,1243,200000000,2008,412,6.7
13,Pirates of the Caribbean: Dead Man's Chestÿ,313,151,563,1000,40000,423032628,522040,48486,2,1832,225000000,2006,5000,7.3

In [105]:
df['movie_title']=df['movie_title'].str.replace('ÿ','')
df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score
0,Avatar,723,178,10,855,1000,760505847,886204,4834,1,3054,237000000,2009,936,7.9
1,Pirates of the Caribbean: At World's End,302,178,563,1000,40000,309404152,471220,48350,1,1238,300000000,2007,5000,7.1
2,Spectre,602,148,20,161,11000,200074175,275868,11700,1,994,245000000,2015,393,6.8
3,The Dark Knight Rises,813,148,22000,23000,27000,448130642,1144337,106759,1,2701,250000000,2012,23000,8.5
4,John Carter,462,132,475,530,640,73058679,212204,1873,1,738,263700000,2012,632,6.6
5,Spider-Man 3,392,156,23,4000,24000,336530303,383056,46055,1,1902,258000000,2007,11000,6.2
6,Tangled,324,156,15,284,799,200807262,294810,46055,1,387,260000000,2010,553,7.8
7,Avengers: Age of Ultron,635,141,10,19000,26000,458991599,462669,92000,4,1117,250000000,2015,21000,7.5
8,Avengers: Age of Ultron,635,141,10,19000,26000,458991599,462669,92000,4,1117,250000000,2015,21000,7.5
9,Harry Potter and the Half-Blood Prince,375,153,282,10000,25000,301956980,321795,58753,3,973,250000000,2009,11000,7.5
10,Batman v Superman: Dawn of Justice,673,183,282,2000,15000,330249062,321795,24450,3,3018,250000000,2016,11000,6.9
11,Superman Returns,434,169,282,903,18000,200069408,240396,24450,2,2367,209000000,2006,10000,6.1
12,Quantum of Solace,403,106,395,393,451,168368427,330784,2023,1,1243,200000000,2008,412,6.7
13,Pirates of the Caribbean: Dead Man's Chest,313,151,563,1000,40000,423032628,522040,48486,2,1832,225000000,2006,5000,7.3

In [106]:
df.to_csv('movie_clear_data.csv')